{% extends 'user_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/user_index.css' %}" />
{% endblock %}
{% block titulo %}{% endblock %}


{% block contenido %}
    <main class="container my-5">
        <div class="row">
            <div class="main-image-container col"> 
                <div class="title-img">
                    <div class="div-1">Tu mano en el mantenimiento escolar, </div>
                    <div class="div-2">hagamos la diferencia juntos.</div>
                    <div class="div-3">!Informa y transforma! </div>
                    <div class="div-4">Aprende más aquí.</div> 
                </div>
                <img src="{% static "assets/bg-main.jpg" %}" alt="tornillos" />
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/user_index.js'%}"></script>
{% endblock %}

