{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user_cuenta.css' %}" />

    <title></title>
  </head>
  <body>
  {% include './partials/_navBarUser.html' %}
  <div class="container cont1">
    <h1 class="Titulo">Perfil Inicio</h1>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="row">Nombre</th>
          <th>{{user.first_name}} {{user.last_name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Correo</th>
          <th>{{user.email}}</th>
        </tr>
        <tr>
          <th scope="row">Contraseña</th>
          <td>**************</td>
          <td scope="row" > <button
            href="#!"
            data-bs-toggle="modal"
            data-bs-target="#forgotPasswordModal"
            class="link form-forgot-password"
            >Cambiar contraseña</
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
    {% include './partials/_footer.html' %}
    {% include './partials/_chatBot.html'%}
    {% include './partials/modal_cuenta.html'%}


    <script src="{% static 'js/user_cuenta.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>