{% extends 'user_base.html' %}
{% load static %}
{% load tz %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/user_reportes.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal_user-reportes.css' %}" />   
{% endblock %}
{% block titulo %}{% endblock %}


{% block contenido %}
  <div class="container" id="mireportes">
    <h1 class="fw-bold display-5 text-center mb-5" id="newarrivals">Mis reportes</h1>
    <div class="row">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">Reporte #</th>
            <th scope='col'>Info</th>
            <th scope="col">Estatus</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Seguimiento</th>
          </tr>
        </thead>
        <tbody>
          {% for p in problemas %}
          <tr>
            <th scope="row">
              <span class="bg-light rounded-pill p-2">{{p.id}}</span>
            </th>
            <td>{{p.tipo_edificio}} | {{p.tipo_problema}}</td>
            <td> <span  class="
              {% if p.estatus_problematica == 'Procesando' %}estatus-en-proceso{% endif %}
              {% if p.estatus_problematica == 'Aceptado' %}estatus-aceptado{% endif %}
              {% if p.estatus_problematica == 'Rechazado' %}estatus-rechazado{% endif %}
              {% if p.estatus_problematica == 'Completado' %}estatus-completado{% endif %}
          ">{{p.estatus_problematica}}</span></td>
            <td>{{p.fecha_creacion|timezone:"America/Mexico_City"|date:"m/d/Y" }}</td>
            <td>{{p.fecha_creacion|timezone:"America/Mexico_City"|time:"H:i:s"}}</td>
            <td><button id="p.{{p.id}}" class="seguimiento_p btn btn-secondary" href="#!" data-bs-toggle="modal" data-bs-target="#InformacionReportes"> 
              <i class="fa-solid fa-arrow-up-long"></i>
            </button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block modal %}
  {% include 'partials/modal_user-reportes.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/user_reportes.js' %}"></script>
{% endblock %}

