{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user_index.css' %}" />

    <title></title>
  </head>
  <body>
  {% include './partials/_navBarUser.html'%}
  <div class="container">
    <div class="row">
      <h1>Informacion sobre la pagina</h1>
      <div class="col-9">s</div>
      <div class="col-4">.Bienvenido a la pagina {Nombre}<br>Tenemos&gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
      <div class="col-6">Contacto Support<br></div>
      <h1>Como utilizar la pagina</h1>
      <h1>ChatBot</h1>
      <h1>Estadisticas globales</h1>
    </div>
  </div>
   {% include './partials/_footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>