<nav class="navbar navbar-expand-lg navbar-light sticky-top PrincipalMenu" id="topmenu" >
    <div class="container-fluid menumovimiento">
      <!-- <a class="navbar-brand" href="#"><img src="Logo" alt=""></a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse " id="navbarNav">
         <ul class="navbar-nav">
          <li class="nav-item px-3">
            <a class="nav-link active menu" id="MenuPicked" href="{%url 'inicio'%}">Inicio</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link active menu" href="{%url 'reportes'%}">Reportes</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link active menu" href="{%url 'edificios' %}">Edificio</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link active menu" href="{%url 'info'%}">Información</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuracion
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item menu" href="#">Cuenta</a></li>
              <li><a class="dropdown-item menu" href="{% url 'logout' %}">Salir</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item menu" href="#">Informacion extra</a></li>
            </ul>
          </li>
         </ul>
        </div>
    </div>
</nav>