{% load static %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top PrincipalMenu" id="topmenu">
  <div class="container-fluid menumovimiento">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-3">
          <a class="nav-link menu text-light" id="inicio-link" href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link menu text-light" id="reportes-link" href="{% url 'reportes' %}">Reportes</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link menu text-light" id="edificios-link" href="{% url 'edificios' %}">Edificio</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link menu text-light" id="info-link" href="{% url 'info' %}">Información</a>
        </li>
      </ul>

      <div class="ms-auto d-flex align-items-center">
        <div class="Lnombre px-4 m-1">
          <h1 class="fs-4 pt-2 px-3">
            <span class="fs-8 p-2 rounded bg-gradient" style="background-color: #dadaff">
              <i class="fa-solid fa-user"> </i>
            </span>
            <span class="ms-4 text-light">{{ user.first_name }} {{ user.last_name }}</span>
          </h1>
        </div>

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle menu fs-4"  style="color: #000 !important;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gear "  style="color: #000 !important;"> </i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="fs-3 dropdown-item menu" href="{% url 'user_cuenta' %}">Cuenta</a></li>
            <li><a class="fs-3 dropdown-item menu" href="{% url 'logout' %}">Salir</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="fs-3 dropdown-item menu" href="#">Información extra</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
