<div
class="modal fade"
id="InfoAdiccional"
tabindex="-1"
aria-labelledby="modalInfoAdiccional"
aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2 text-center" id="modalInfoAdiccional">
          <span id="tituloNuevoEstatus"> </span> - Info Adicional
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row blockquote">
        <textarea class="form-control" rows="5" name="info_adiccional" id="infoAdicional" placeholder="Enter additional information"></textarea>
      </div>
      <div class="modal-footer modal-buttons">
        <button type="button" id="btnCambiarEstatus" class="btn btn-secondary fs-5" data-bs-dismiss="modal">
            Confirmar
        </button>
        <button id="btnCerrarModal" type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>