
<style>
    .modal-content {
      width: 90rem;
    }
    .spinner-border {
      width: 3rem;
      height: 3rem;
      border-width: .3rem;
    }
    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .hidden {
      display: none;
    }
</style>


  <div class="modal-dialog modal-password">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2 text-center" id="exampleModalLabel">
          Datos del usuario
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row blockquote">
      </div>
      <div class="modal-footer modal-buttons">
        
        <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>