<div class="mb-md-5 mt-md-4 pb-5">
  <h2 class="fw-bold mb-2 text-uppercase card-title">Registrate</h2>
  <p class="text-white-50 mb-4">¡Por favor ingrese todos los datos!</p>
  <div class="form-outline form-white p-2 mb-4">
    <div class="d-flex">
      <input
        type="text"
        id="typeFirstame"
        class="form-control form-control-lg firstname-input"
        required
      />
      <input
        type="text"
        id="typeLastname"
        class="form-control form-control-lg lastname-input"
        required
      />
    </div>
    <div class="fullname-container">
      <label
        class="form-label d-inline-block mr-5 firstname-tag lastname-input"
        for="typePasswordX"
        >Nombre</label
      >
      <label class="form-label d-inline-block" for="typePasswordX"
        >Apellido</label
      >
    </div>
  </div>
  <div class="form-outline form-white mb-4">
    <input type="email" id="typeEmailR" class="form-control form-control-lg" />
    <label class="form-label" for="typeEmailX">Email</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      id="typePasswordR"
      class="form-control form-control-lg"
      required
    />
    <label class="form-label" for="typePasswordX">Contraseña</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      id="typePasswordC"
      class="form-control form-control-lg"
      required
    />
    <label class="form-label" for="typePasswordB">Confirmar contraseña</label>
  </div>

  <button class="form-submit btn btn-outline-light btn-lg px-5" type="submit">
    Registrate
  </button>
  <div class="d-flex justify-content-center text-center mt-4 pt-1">
    <a href="#!" class="link text-white"
      ><i class="fab fa-facebook-f fa-lg"></i
    ></a>
    <a href="#!" class="link text-white"
      ><i class="fab fa-twitter fa-lg mx-4 px-2"></i
    ></a>
    <a href="#!" class="link text-white"
      ><i class="icon fab fa-google fa-lg"></i
    ></a>
  </div>
  <div>
    <p class="mt-4">
      ¿Ya tienes cuenta?
      <a href="#!" class="link form-register fw-bold">Iniciar sesión</a>
    </p>
  </div>
</div>
