/* Variables */

:root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-1: #ebbfaa;
  --primary-color-light-2: #f2cfbf;
  --primary-color-dark: #cb8464;
  --primary-color-dark-2: #b57659;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

  /* Gray tones */
  --dark-grey: #333;
  --ligth-grey: #999;
  --ligth-grey-2: #ddd;
}

/* General style */

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

a.link {
  transition: all 0.5s;
  text-decoration: none;
}

a.link:hover {
  color: var(--primary-color-light) !important;
  transform: scale(1.05) !important ;
}

/* Helper classes */

.text-white {
  color: #fff;
}

select, option, input, button {
  font-family: inherit;
}