{% load static %}
<footer class="text-dark py-5" id="botfooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-6 ps-5 pt-1 d-lg-block d-none">
                <div class="me-4"> <img src="{% static 'img/logo-white.png' %}" alt="Log" width="55" class="logo"> </div>
                <p class="pt-4 fs-5 text-dark fst-italic">¡Informa y transforma!"</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <h5 class="fw-bold">Navegación</h5>
                <ul class="list-unstyled py-2 fs-6 fw-lighter">
                    <li><a class = "fs-5 link-dark fw-normal" href="{% url 'user_index' %}">Inicio</a></li>
                    <li><a class = "fs-5 link-dark fw-normal" href="{% url 'user_reportes' %}">Mis reportes</a></li>
                    <li><a class = "fs-5 link-dark fw-normal" href="{% url 'user_reportar' %}">Reportar</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <h5 class="fw-bold">Contacto</h5>
                <ul class="list-unstyled text-secondary py-2 fs-6 fw-lighter">
                    <li><a class = "fs-5 link-dark fw-normal" href="#">Envianos un mensaje</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <h5 class="fw-bold">Ayuda</h5>
                <ul class="list-unstyled text-secondary py-2 fs-6 fw-lighter">
                    <li><a class = "fs-5 link-dark fw-normal" href="#">Guía de uso</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>