<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal con Carga</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .modal-content {
      width: 90rem;
    }
    .spinner-border {
      width: 3rem;
      height: 3rem;
      border-width: .3rem;
    }
    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div class="modal-dialog modal-password">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2 text-center" id="exampleModalLabel">
          Datos del usuario
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row blockquote">
      </div>
      <div class="modal-footer modal-buttons">
        <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
