<div class="modal-dialog modal-password">
    <div class="modal-content">
      <div class="modal-header container">
        <h1 class="modal-title fs-2 text-center" id="exampleModalLabel">
            ¡Atención!
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row blockquote fs-3 ms-1">
        ¿Estás seguro de que deseas eliminar esta notificación?
      </div>
      <div class="modal-footer modal-buttons">
        <button type="button" class="btn btn-success fs-5" data-bs-dismiss="modal">
            No
          </button>
        <button type="button" class="btn btn-danger fs-5" data-bs-dismiss="modal">
            Eliminar
        </button>
      </div>
    </div>
</div>