
  <!-- Modal -->
  <div class="modal fade" id="datosReportarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="staticBackdropLabel">Datos del Reporte</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
          <div id="datos_edificio_modal" class="datos_modal col fs-4">
          </div>
          <div id="datos_problema_modal" class="datos_modal col fs-4">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="fs-4 btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="fs-4 btn btn-dark"  data-bs-dismiss="modal" id="mandar_reporte_btn">Reportar</button>
        </div>
      </div>
    </div>
  </div>