@import url("styles.css");
@import url("_navbar_user.css");
@import url("_footer_user.css");

@media screen and (min-width: 300px) {
  html {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 0.6rem;
  }
}
  

  /* width */
body ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #aaa;
  border-radius: 10px;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

