@import url("../css/styles.css");

/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
}

#topmenu{
z-index: 1000;
background-color: var(--secondary-color-light)!important;
}
#botfooter{
  background-color: var(--primary-color)!important;
}

#mireportes{
  background-color: var(--primary-color-light-2);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
#opciones{
  
}