
/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
  width: 100%;
}
 
.TReportes{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.losreportes{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color-light-2);
  margin: 2rem auto;
  padding: 1px;
  width: 120.5rem;
}
.mireportes{
  display: grid;
  background-color: #ecdcd5 ;
  margin: 0 auto;
  padding: 1px;
  width: 60rem;
}
.mireportes1{
  display: grid;
  background-color: var(--primary-color-light-2);
  margin: 1px;
  padding: 1px;
  width: 60rem;
}
.opciones{
  display:inline-block;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 20px;
}
.TOpciones{
  display: block ;
  text-align: center;
  margin-bottom: 10px;
  /* tamano letra */
  font-size: 25px;
  color: var(--dark-grey);

}
.OSelect{
  text-align: center;
  margin: 5px;
  font-size: 16px;
  padding: 2px;
  background-color: var(--tertiary-color);
}
.form-control{
  background-color: var(--tertiary-color);
  font-size: 16px;
}
.enviar{
  background-color: var(--secondary-color-dark);
  color: var(--tertiary-color);
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}