@import url("../css/styles.css");

/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
}
#botfooter{
  background-color: var(--primary-color)!important;
}
.PrincipalMenu{
  z-index: 1000;
  background-color: var(--secondary-color-light)!important;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.menu{
  transition: all 0.3s;
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 18px;
  width: 100%;
  margin: 2px;
}
#MenuPicked{
  background: linear-gradient(50deg, #ddd 0%, #fff 100%);
  opacity: 0.9;
  border-radius: 4px;
  width: 100%;
  margin-top: 1;
  font-weight: bold;
  box-shadow: 1px 2px 2px  #11111127;
  padding: initial 2rem !important;

}

.menumovimiento{
  width: 100%;
}
.menu:hover{
  color: var(--primary-color-light);
  transform: scale(1.05);
}
.menuconfig{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.Lnombre{
  margin-right: 1%;
}


/* Image container */

.main-image-container{
  display: flex;
  width: 100%;
  height: calc(100vh - 10rem);
  box-shadow: 1px 2px 1px  #ffffff27;
  position: relative;
}

.main-image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.title-img{
  position: absolute;
  opacity: 1;
  z-index: 100;
  color: #000;
  padding: 15rem 10rem;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 1px #ffffff27;
  text-align: center;
}

.span-1{
  color: #000;
  background-color: rgba(209, 58, 31, 0.274);
  font-size: 2rem;
  width: 55rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.span-2{
  color: rgb(209, 58, 31);
  margin-left: 8rem;
  font-size: 1.9rem;
  background-color: #ffffffc2;
  width: 40rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
  border-radius: 4px;
}



.span-3{
  color: #000;
  background-color: #eeeeee85;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  background-color: none;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;

}

.span-4{
  color: #fff;
  background-color: #00000080;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-left: 18rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  width: 17rem;
  border-radius: 4px;
}