
/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
}

.Lnombre{
  margin-left: 30%;
  margin-right: 5%;
}
.Titulo{
  color: var(--dark-grey);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.cuenta-container{
  height: calc(100vh - 24rem);
  margin-top: 2rem;
}