{% extends 'adm_base.html' %}

{% load static %}

{% block title %}Información de Uso{% endblock %}

{% block css %} 
  <link rel="stylesheet" href="{% static 'css/admIndex.css' %}" /> 
{% endblock %}

{% block contenido %}
<div id="content" class="text-center py-5">
  <h1 style="margin-top: 50px;">Información de Uso</h1>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="alert alert-info" role="alert">
          Esta es una página web en la que se manejarán reportes de mantenimiento de los edificios de CUCEI, para así poder lograr un mejor centro universitario decente y adecuado para sus estudiantes.
        </div>
        <div class="alert alert-info" role="alert">
          Para el uso de esta aplicación web desde esta vista de Administrador, logramos conocer acerca de las pestañas de "Edificios", "Reportes" y "Configuración". Dentro de "Edificios" Será posible ver
          un listado de edificios, edificios académicos y otros edificios para así llevar un control de su mantenimiento, en la pestaña de "Reportes" podremos ver todo el historial y listado de los reportes
          tanto pendientes como a los que se les está dando seguimiento y los que han finalizado. Para cualquier duda o comentario acerca de todo esto, favor de contactarse con los desarrolladores Saludos!!
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

