{% extends 'adm_base.html' %}

{% load static %}
{% block content %}
  <div id="content" class="text-center py-5">
  <h1 style="margin-top: 50px;">Reportes Terminados</h1>
  <!-- Menú desplegable para filtrar por fecha -->
  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar por fecha
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Más reciente a más viejo</a></li>
      <li><a class="dropdown-item" href="#">Más viejo a más reciente</a></li>
    </ul>
  </div>
  </div>

  <div class="card1 col-lg-4">
  <div class="text-center py-5">
  </div>
  </div>
{% endblock %}

