{% extends 'adm_base.html' %}

{% load static %}

{% block title %}Edificios{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admEdificios.css' %}" />
{% endblock %}

{% block contenido %}
    <div id="content" class="d-flex">
        <div class="column">
            <h3>Listado de Edificios</h3>
            <ul class="az-list">
                <li><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
            </ul>
        </div>
        <div class="column">
            <div class="column">
                <h3>Edificios Académicos</h3>
                <ul>
                    <a href="#">Auditorio</a>
                    <a href="#">Biblioteca</a>
                    <a href="#">Coordinacion</a>
                </ul>
            </div>
            <div class="column">
                <h3>Otros Edificios</h3>
                <ul>
                    <a href="#">Gimnasio</a>
                    <a href="#">Cafetería</a>
                    <a href="#">Estacionamiento</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="card1 col-lg-4">
        <div class="text-center py-5">
        </div>
    </div>
{% endblock %}
