{% extends 'adm_base.html' %}

{% load static %}

{% block title %}
  Seguimiento de Reportes
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/user_reportes.css' %}" />
{% endblock %}

{% block content %}
  <div id="content" class="text-center py-5">
    <h1 style="margin-top: 50px;">Seguimiento del Problema</h1>
  </div>

  <div id="content" class="text-center">
    <h1>Salón: 18 &emsp; Edificio: X &emsp; Problema: # 123 </h1>
    <p>Información del problema a detalle:</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Información de quien reporta: </p>
    <p>Nombre:----- &emsp;&emsp; Código:  ---- </p>
    <p>Correo electrónico: ----- &emsp;&emsp; Fecha y hora de reporte: ---- </p>
  </div>

  <!-- Botón para indicar que el problema ha sido resuelto -->
  <div class="text-center" style="margin-top: 50px;">
    <button class="btn btn-success btn-lg">Marcar como resuelto</button>
  </div>

{% endblock %}
