{% extends 'adm_base.html' %}
{% load static %}
{% load tz %}
{% block title %}Inicio{% endblock %}
{% block css %} 
  <link rel="stylesheet" href="{% static 'css/adm_reportes.css' %}" /> 
{% endblock %}
 
{% block contenido %}
  <div class="d-flex">
  <section class="d-flex flex-column justify-content-start container reportes">
    <section class="d-block filtros py-4 px-2 container flex-grow-0"> 
    <div>
      <div class="row  d-flex justify-content-center w-100 text-center">

        <div class="col flex-grow-0 ">
          <h2 class="fw-bold display-5 fs-3">Estatus</h2>
          <div class="form-check w-75 m-auto mt-4 fs-5">
              <input class="form-check-input" type="checkbox" value="Procesando" id="estatusProcesando" checked>
              <label class="form-check-label" for="estatusProcesando">
                  Procesando
              </label>
          </div>
          <div class="form-check w-75 m-auto mt-2 fs-5">
              <input class="form-check-input" type="checkbox" value="Aceptado" id="estatusAceptado">
              <label class="form-check-label" for="estatusAceptado">
                  Aceptado
              </label>
          </div>
          <div class="form-check w-75 m-auto mt-2 fs-5">
              <input class="form-check-input" type="checkbox" value="Rechazado" id="estatusRechazado">
              <label class="form-check-label" for="estatusRechazado">
                  Rechazado
              </label>
          </div>
          <div class="form-check w-75 m-auto mt-2 fs-5">
              <input class="form-check-input" type="checkbox" value="Completado" id="estatusCompletado">
              <label class="form-check-label" for="estatusCompletado">
                  Completado
              </label>
          </div>
        </div>
        <div class="col">
          <div class="row">
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Fecha</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="fecha">
              <option value="Todos">Todos</option>
              <option value="Hoy">Hoy</option>
              <option value="Ayer">Ayer</option>
              <option value="7 días">Hace 7 días</option>
              <option value="Mes">Hace un mes</option>
              <option value="Año">Hace un año</option>
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Tipo edificio</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="tipo_edificio">
              <option value="Todos">Todos</option>
              <option value="Academico">Academico</option>
              <option value="Baños">Baños</option>
              <option value="Áreas comunes">Áreas comunes</option>
              <option value="Departamento">Departamento</option>
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Gravedad</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="gravedad">
              <option value="Todos">Todos</option>
              <option value="Menor">Menor</option>
              <option value="Moderado">Moderado</option>
              <option value="Serio">Serio</option>
              <option value="Crítico">Crítico</option>
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Tipo problema</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="tipo_problema">
              <option value="Todos">Todos</option>
              <option value="Eléctrico">Eléctrico</option>
              <option value="Físico">Físico</option>
              <!-- <option value="Otro">Otro</option> -->
            </select>
          </div>
          <div class="col">
            <h2 class="fw-bold display-5 fs-3">Reportes por página</h2>
            <select class="form-select w-75 m-auto mt-4 fs-5 text-center" id="reportes_pagina">
              <option selected value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
            </select>
          </div>
          </div>
          <form class="row w-100 d-flex align-items-end h-50 mt-3" id="formBusqueda">
            <div class="input-group mb-3 w-50 m-auto">
              <input type="text" id="inputBusqueda" class="form-control" placeholder="Usuario/Usuario#ID o ID de reporte" aria-label="Recipient's username" aria-describedby="btnBusqueda">
              <button class="btn btn-outline-secondary" type="submit" id="btnBusqueda">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
    </section>
    <section class="container mx-auto my-5 mb-4" id="mireportes">
    <h1 class="fw-bold display-5" id="newarrivals">Mis reportes</h1>
    <div class="row d-flex flex-column">
      <table class="table">
        <thead>
          <tr>
            <th class="selecionable" data-orden="asc" id="th_id_reporte" scope="col">Reporte #</th>
            <th scope="col">User</th>
            <th scope='col'>Info</th>
            <th class="selecionable" data-orden="asc" id="thGravedad" scope="col">Gravedad</th>
            <th scope="col">Estatus</th>
            <th class="selecionable" data-orden="asc" id="th_fecha" scope="col">Fecha</th>
            <th scope="col">Seguimiento</th>
            <th scope="col">
              <select class="form-select" id="estatusSelect">
                <option value="" disabled selected>Selecciona una Accion</option>
                <option value="Aceptar">Aceptar</option>
                <option value="Rechazar">Rechazar</option>
                <option value="Completar">Completar</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody id='contenedor_problemas'>
          {% for p in problemas %}
          <tr class="
              {% if p.estatus_problematica == 'Procesando' %}estatus-en-proceso{% endif %}
              {% if p.estatus_problematica == 'Aceptado' %}estatus-aceptado{% endif %}
              {% if p.estatus_problematica == 'Rechazado' %}estatus-rechazado{% endif %}
              {% if p.estatus_problematica == 'Completado' %}estatus-completado{% endif %}
          ">
            <th scope="row">{{p.id}}</th>
            <td>{{p.id_usuario.first_name}}#{{p.id_usuario.id}} </td>
            <td>{{p.tipo_edificio}} | {{p.tipo_problema}}</td>
            <td>{{p.gravedad_problema}}</td>
            <td class='estatus_problematica'>{{p.estatus_problematica}}</td>
            <td>{{p.fecha_actualizado|timezone:"America/Mexico_City"|date:"d/m/Y H:i:s" }}</td>
            <td>
              <button id="p.{{p.id}}" class="seguimiento_p btn btn-secondary" href="#!" data-bs-toggle="modal" data-bs-target="#InformacionReportes">
                <i class="fa-solid fa-arrow-up-long"></i>
              </button>
            </td>
            <td>
              <input class="form-check-input" type="checkbox" name="option1" value="something">
              {% comment %} <label class="form-check-label">Option 1</label> {% endcomment %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class='mt-2 pt-2 container' >
          <tr>
            <td colspan="8">
              <div class="d-flex justify-content-center w-100 py-1">
                <button class="btn btn-light invisible flex-grow-0 px-3" id='btn_problema_anterior'>
                  <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button class="btn btn-light invisible flex-grow-0 px-3" id='btn_problem_siguiente'>
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
                <div class="ps-3 text-end flex-grow-1 fst-italic" id="num_resultados"><div/>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    </section>
  </section>
  </div> 
{% endblock %}
{% block modal %}

  {% include 'partials/modal_adm-reportes.html' %}
  {% include 'partials/modal_adm-infoAdiccional.html' %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/adm_reportes.js' %}"></script>
{% endblock %}