
/* :root {
  --primary-color: #e2936f;
  --primary-color-light: #e39774;
  --primary-color-light-2: #f2cfbf;
  --secondary-color-light: #5c9ead;
  --secondary-color-dark: #326273;
  --tertiary-color: #eee;

colores grises
  --dark-grey: #333;
  --ligth-grey: #999;
} */


body{
  background-color: var(--tertiary-color);
}

.estatus-en-proceso {
  background-color: #fff59d; /* Amarillo moderado */
}

.estatus-aceptado {
  background-color: #a5d6a7; /* Verde moderado */
  color: #1a441c;
}

.estatus-rechazado {
  background-color: #ef9a9a; /* Rojo moderado */
  color: #6e1818;
}

.estatus-completado {
  background-color: #90caf9; /* Azul moderado */
  color: #0f3663;
}
